#question {
    background-color: #8435DE;
    border-radius: 1rem;
    max-width: 500px;
    padding: 2rem;
    text-align: center;
}

#question h2{
    margin-bottom: 2rem;
}

#question p{
    margin-bottom: 1rem;
}

#question button {
    border: 2px solid #FFFFFF
}